<!--
  
-->
<app-header titulo="alert"></app-header>

<ion-content>
  <ion-button (click)="presentAlert()" class="ion-margin" shape="round" expand="block" mode="ios">
    Ver alerta 1
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" class="ion-margin" shape="round" expand="block" mode="ios">
    Ver alerta 2
  </ion-button>
  <ion-button (click)="presentAlertConfirm()" class="ion-margin" shape="round" expand="block" mode="ios">
    Ver alerta 3
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" class="ion-margin" shape="round" expand="block" mode="ios">
    Ver alerta 4
  </ion-button>
  <ion-button (click)="presentAlertRadio()" class="ion-margin" shape="round" expand="block" mode="ios">
    Ver alerta 5
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" class="ion-margin" shape="round" expand="block" mode="ios">
    Ver alerta 6
  </ion-button>

</ion-content>
