<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" color=primary mode="ios" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" class="ion-text-capitalize">Action-sheet</ion-title>
  </ion-toolbar>
</ion-header>
-->
<app-header titulo="Action-Sheet"></app-header>

<ion-content>
  <ion-button (click)="presentActionSheet()" expand="block" class="ion-margin" shape="round" mode="ios">
    Mostrar Action Sheet
  </ion-button>
</ion-content>
